/* Set font to 16px/13pt, set background to white and font to black.*/
/* This saves ink */
body {
    font: 11pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    background: #fff !important;
    color: #000;
    padding: 0 !important;
    margin: 0 !important;
}

h1 {
    font-size: 24pt;
    margin-bottom: 15px;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 12pt;
    margin-top: 25px;
    margin-bottom: 10px;
}

/* Defining all page breaks */
a {
    page-break-inside: avoid
}

blockquote {
    page-break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    page-break-after: avoid;
    page-break-inside: avoid
}

img {
    page-break-inside: avoid;
    page-break-after: avoid;
}

table,
pre {
    page-break-inside: avoid
}

ul,
ol,
dl {
    page-break-before: avoid
}

/* Defining all page breaks */
a {
    page-break-inside: avoid
}

blockquote {
    page-break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    page-break-after: avoid;
    page-break-inside: avoid
}

img {
    page-break-inside: avoid;
    page-break-after: avoid;
}

table,
pre {
    page-break-inside: avoid
}

ul,
ol,
dl {
    page-break-before: avoid
}

/* Displaying link color and link behaviour */
a:link,
a:visited,
a {
    background: transparent;
    color: #1968B5;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}

a {
    page-break-inside: avoid;
}

a:after {
    content: " ["attr(href) "] ";
    font-size: 10px;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}

/* Adding custom messages before and after the content */
// body:after {
//     content: "\ All Rights Reserved. (c) 2019 ";
//     color: #999 !important;
//     font-size: 1em;
//     padding-top: 30px;
// }

// body:before {
//     content: "\ Thank you for printing our article. We hope that some of our other articles can catch your eye as well.";
//     color: #777 !important;
//     font-size: 1em;
//     padding-top: 30px;
//     text-align: center !important;
// }

iframe,
ins,
embed,
button,
.reveal,
.reveal-overlay,
.site-footer-container,
.cc-revoke.cc-bottom,
.scrollDown,
.woody_subfooter,
.responsive-top-header,
.claims-blocks-wrapper,
.woody-component-headnavs,
.woody-component-mobilenavs,
.breadcrumb-wrapper,
.sharing-links,
.tourism-detail-hero-slider,
.direction-map-wrapper,
.woody-component-focus .imageObject,
.mobile-header,
.embed-youtube,
.embed-responsive,
.hero-bg,
.lg,
.the_filter,
.the_pager,
.card-button,
.home-slider,
.fullcenterbox {
    display: none !important;
}

/* Playlist Tourisme */
#api_filter,
#responsive-layout-switcher,
#playlist-map-wrapper,
#pagination,
.item-wrapper .item-chain,
.main-tourism-wrapper .playlist-infos-banner {
    display: none !important;
}

#playlist-context {
    width: 100% !important;
}

#item_sheet_list .item_sheet {
    margin-bottom: 30px;
}

#item_sheet_list .item_sheet .infos {
    height: auto !important;
}

#item_sheet_list{
    justify-content: center;
    align-items: center;
}

#item_sheet_list .item-wrapper {
    display: table-cell;
    float: left;
    page-break-inside: avoid;
    article{
        border: 1px solid grey;
        border-radius: 2px;
        box-shadow: 10px 10px 5px rgba(44, 43, 43, 0.76);
        width: 300px;
        height: 420px;
        margin: 5px;
    }
    a{
        img{
            width: 95%;
            padding:5px 0 0 0;
            margin: auto;
        }
        section{
            .infos-wrapper{
                h3{
                    margin:0px;
                }
                padding:0 10px 0 10px;
            }
            text-overflow: ellipsis;
        }
    }
    a:after{
        content: none;
    }
}

/* Sheet Tourisme */
.api-render-sheet #availabilities,
.api-render-sheet #map-container,
.api-render-sheet #gallery,
.api-render-sheet .sidebar-contact-form-section,
.api-render-sheet .sidebar-map-container,
.api-render-sheet .sheet-navbar-checkpoint {
    display: none !important;
}

/* Hero */
.woody-component-hero {
    height: auto !important;
    margin-bottom: 20px !important;
}

.hero-titles {
    text-align: center !important;
    padding: 20px !important;
    margin-bottom: 20px !important;
    border-bottom: 1px solid #000 !important;
}

.hero-titles span {
    display: block !important;
}

.hero-titles .hero-title {
    font-size: 30pt !important;
    color: #1968B5 !important;
}

/* Swiper */
.swiper-wrapper {
    transform: none !important;
}

.swiper-slide {
    width: 100% !important;
    padding: 8px 0 !important;
}

/* Images */
a.mediaCard {
    text-align: center !important;
}

a.mediaCard:after {
    content: "";
}

.imageObject {
    margin: 20px 0 !important;
}

.imageObject span {
    display: block !important;
    font-size: 11px !important;
    font-weight: normal !important;
    color: #000 !important;
}

/* Card */
.card {
    margin-bottom: 20px !important;
}

.card-section {
    height: auto !important;
}

// Tourisme
.api-render-container {

    .pl-paint-overlay,
    .tourism-detail-hero-slider,
    .sheet-navbar-checkpoint,
    .sidebar-issue-report,
    #gallery,
    .sidebar-contact-form-section {
        display: none !important;
    }

    .tourism-detail-sidebar-list,
    #description {
        li {
            list-style: none !important;
        }
    }

    #responsive-layout-switcher {
        display: none !important;
    }
}
