/* Set font to 16px/13pt, set background to white and font to black.*/
/* This saves ink */
body {
    font: 11pt Arial, Helvetica, sans-serif;
    line-height: 1.3;
    background: #fff !important;
    color: #000;
    padding: 0 !important;
    margin: 0 !important;
}

h1 {
    font-size: 24pt;
    margin-bottom: 15px;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 12pt;
    margin-top: 25px;
    margin-bottom: 10px;
}

/* Defining all page breaks */
a {
    page-break-inside: avoid
}

blockquote {
    page-break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    page-break-after: avoid;
    page-break-inside: avoid
}

img {
    page-break-inside: avoid;
    page-break-after: avoid;
}

table,
pre {
    page-break-inside: avoid
}

ul,
ol,
dl {
    page-break-before: avoid
}

/* Displaying link color and link behaviour */
a:link,
a:visited,
a {
    background: transparent;
    color: #1968B5;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}

a {
    page-break-inside: avoid;
}

a:after {
    content: " [" attr(href) "] ";
    font-size: 10px;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}

/* Adding custom messages before and after the content */
// body:after {
//     content: "\ All Rights Reserved. (c) 2019 ";
//     color: #999 !important;
//     font-size: 1em;
//     padding-top: 30px;
// }

// body:before {
//     content: "\ Thank you for printing our article. We hope that some of our other articles can catch your eye as well.";
//     color: #777 !important;
//     font-size: 1em;
//     padding-top: 30px;
//     text-align: center !important;
// }

iframe,
ins,
embed,
button,
.noprint,
.no-print,
.reveal,
.reveal-overlay,
.site-footer-container,
.cc-revoke.cc-bottom,
.woody-cookies-revoke,
.woody-cookies-toolbox,
.scrollDown,
.woody_subfooter,
.responsive-top-header,
.claims-blocks-wrapper,
.woody-component-headnavs,
.woody-component-mobilenavs,
.breadcrumb-wrapper,
.sharing-links,
.direction-map-wrapper,
.woody-component-focus .imageObject,
.woody-component-search,
.mobile-header,
.embed-youtube,
.embed-responsive,
.hero-bg,
.lg,
.the_filter,
.the_pager,
.card-button,
.home-slider,
.fullcenterbox,
.ui-datepicker,
.ui-widget,
.cc-window,
.cc-banner {
    display: none !important;
}

/* Playlist Tourisme */
#api_filter,
#responsive-layout-switcher,
#playlist-map-wrapper,
#pagination,
.item-wrapper .item-chain,
.main-tourism-wrapper .playlist-infos-banner {
    display: none !important;
}

#playlist-context {
    width: 100% !important;
}

#item_sheet_list .item_sheet {
    margin-bottom: 30px;
}

#item_sheet_list .item_sheet .infos {
    height: auto !important;
}

#item_sheet_list {
    justify-content: center;
    align-items: center;
}

#item_sheet_list .item-wrapper {
    display: table-cell;
    float: left;
    page-break-inside: avoid;
    overflow: hidden;

    article {
        // border: 1px solid grey;
        border-radius: 2px;
        box-shadow: 10px 10px 5px rgba(44, 43, 43, 0.76);
        width: 175px;
        height: 300px;
        margin: 5px;
    }

    a {
        img {
            width: 95%;
            max-height: 130px;
            padding: 5px 0 0 0;
            margin: auto;
        }

        .top-left-corner,
        .top-right-corner {
            display: none;
        }

        section {
            .infos-wrapper {
                h3 {
                    font-size: 17px;
                    margin: 5px 0 0 0;
                }

                padding:0 10px 0 10px;
            }

            text-overflow: ellipsis;
        }
    }

    a:after {
        content: none;
    }
}

/* Hero */
.woody-component-hero {
    height: auto !important;
    margin-bottom: 20px !important;

    .fullcenterbox {
        display: block !important;
    }
}

.hero-titles {
    text-align: center !important;
    padding: 20px !important;
    margin-bottom: 20px !important;
    border-bottom: 1px solid #000 !important;
}

.hero-titles span {
    display: block !important;
}

.hero-titles .hero-title {
    font-size: 24pt !important;
    color: #1968B5 !important;
}

/* Swiper */
.swiper-wrapper {
    transform: none !important;
}

.swiper-slide {
    width: 100% !important;
    padding: 8px 0 !important;
}

/* Images */
a.mediaCard {
    text-align: center !important;
}

a.mediaCard:after {
    content: "";
}

.imageObject {
    margin: 20px 0 !important;
}

.imageObject span {
    display: block !important;
    font-size: 11px !important;
    font-weight: normal !important;
    color: #000 !important;
}

/* Card */
.card {
    margin-bottom: 20px !important;
}

.card-section {
    height: auto !important;
}


/* Sheet Tourisme */
.api-render-sheet #availabilities,
.api-render-sheet #map-container,
.api-render-sheet #gallery,
.api-render-sheet .sidebar-contact-form-section,
.api-render-sheet .sidebar-map-container,
.api-render-sheet .sheet-navbar-checkpoint {
    display: none !important;
}

// Tourisme
.api-render-container {

    #mobile-main-menu,
    .sidebar-hashtag,
    .header-chains,
    .sheet-nav,
    .sheet-nav-actions,
    .pl-paint-overlay,
    .sheet-navbar-checkpoint,
    .sheet-fab,
    .panel-header kaarousel-next,
    .panel-header kaarousel-prev,
    street-view,
    .kaarousel-item-media-iframe,
    .sheet-tab-nav,
    .sidebar-issue-report,
    .tourism-labels,
    #download,
    .audio-element,
    #booking,
    #tariffs,
    aside .hidden-xs,
    aside .sidebar-contact-websites,
    aside .tourism-detail-sharing,
    .sidebar-contact-phones .reveal-button,
    .sidebar-contact-form-section,
    #groups,
    #arrangements,
    .linked-sheets,
    main .panel-title-responsive,
    .flatpickr-calendar,
    #reviews,
    #reviews-iframe,
    .panel-header .photo-label,
    main .page-section,
    .kaarousel-container .kaarousel-item:nth-of-type(n+2) {
        display: none !important;
    }

    .tourism-detail-sidebar-list li,
    .list-group li {
        list-style: none !important;
    }

    #responsive-layout-switcher {
        display: none !important;
    }

    .panel-header {
        img {
            max-height: 300px;
            float: left;
            padding-left: 15px;
        }
    }

    .establishment-description {
        width: 100%;
    }

    .establishment-description::before {
        content: "DESCRIPTION \A";
    }

    .tariff-tab-wrapper::before {
        content: "TARIFS \A";
    }

    .tariff-tab-wrapper::before,
    .establishment-description::before {
        white-space: pre;
        color: #1968B5 !important;
        font: bold;
        font-size: 1em;
        font-weight: bold;
    }

    .tourism-detail-description,
    .list-group-item,
    .panel-default {
        border: none;
        margin: 0px;
        padding: 0px;
    }

    .header-text h2 {
        margin: 0 0 20px 12px;
    }

    .header-title {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;

        span,
        sup {
            margin: 5px;
            padding: 5px;
        }
    }

    main {
        width: 70%;

        .list-group,
        .spoken-languages ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .list-group-item {
            width: 45%;

            dl {
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: left;

                dt .pl-heading {
                    color: #1968B5 !important;
                    font-size: 1em;
                    text-transform: uppercase;
                }

                .plo-list-bare,
                .plo-nav {
                    padding: 0;
                }
            }
        }

        #description .list-group-item:first-child {
            width: 100%;

            dl {
                display: unset;
                flex: unset;
            }

            margin-bottom: 20px;
        }

        section {
            page-break-inside: avoid;
            margin: 10px 0 10px 0 !important;

            .tariff-tab-wrapper .sheet-tab-panes {
                display: flex;
                flex-direction: column;

                ul {
                    min-height: 25px !important;
                }
            }
        }

        .spoken-languages ul li {
            margin: 5px;
        }
    }

    aside {
        width: 25%;
        margin: 0px;
        padding: 0px;

        .phone-link:after {
            content: none;
        }

        .panel-title-responsive {
            display: none;
        }
    }

    .kaarousel-container {
        position: relative;
        float: right;
        width: 100%;

        a:after {
            content: none;
        }

        .kaarousel-slide {
            display: unset !important;
        }

        .kaarousel-wrapper {
            width: 100%;
        }
    }
}

.availabilities-calendar {
    .availabilities-header {
        display: none !important;
    }

    td span a::after {
        content: none !important;
    }

    .unavailable {
        -webkit-print-color-adjust: exact;
        background-color: lighten(rgba(255, 64, 64, 0.63), 20%) !important;
    }

    .available {
        -webkit-print-color-adjust: exact;
        background-color: lighten(rgba(4, 253, 4, 0.377), 20%) !important;
    }

    .closed {
        -webkit-print-color-adjust: exact;
        background-color: lighten(rgba(175, 174, 174, 0.753), 20%) !important;
    }

}

// Favoris
.win-print {
    display: none;
}

.favorites-section {
    a[href]:after {
        content: none !important;
    }

    .card {

        .card .card-link {
            color: black;
        }

        &.splitCard .card-link>.grid-x,
        &.basicCard .card-link {
            display: flex;
            align-items: flex-start;

            .imageObject {
                background-color: darken(white, 3%);

                &-img {
                    width: 200px;
                    margin-right: 20px;
                }
            }

            .imageObject-description,
            .imageObject-caption {
                display: none !important;
            }

            .card {

                &-section {
                    margin-top: 20px;
                }

                &-bookable {
                    display: none;
                }

                &-title,
                &-description,
                &-address,
                &-website,
                &-town,
                &-phone,
                &-type {
                    color: black;
                }

                &-description,
                &-address,
                &-website,
                &-town {
                    font-weight: normal;
                }

                &-phone {
                    font-weight: bold;
                }
            }

            .tripInfos-price {
                color: black;
                font-weight: normal;
            }
        }
    }
}

// Search
.search-results-wrapper {
    display: none !important;
}
