// Override page margins
@page {
    margin: 5mm 5mm 5mm 5mm;
}

// Hide cookies and admin menu WP
#wpadminbar,
.woody-component-headnavs,
.woody-component-mobilenavs,
.woody-cookies-toolbox,
.woody-cookies-revoke {
    display: none !important;
}

// Print content styles
.print-rdbk {
    font-size: 90%;

    // Page header
    .page-header {
        text-transform: uppercase;
        border-bottom: 1px solid #a0a0a0;
        margin: 0 0 30px 0;
        page-break-after: avoid;
        position: relative;
        height: 50mm;

        .rdbk-url {
            position: absolute;
            text-transform: lowercase;
            left: 60mm;
            top: 19.5mm;
            font-size: 12px;
        }

        .title-wrapper {
            position: absolute;
            top: 27mm;
            left: 0;
            max-width: 120mm;
            padding-left: 5mm;

            h2 {
                line-height: 1.2em;
                font-size: 18px;
                background: #efefef;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
    }

    .rdbkPrintHeader,
    .page-section {
        width: 198mm !important;
        margin-left: auto;
        margin-right: auto;

        img {
            max-width: 100%;
        }

        &:not(:nth-of-type(1)) {
            page-break-before: always;
        }
    }

    .section {
        padding: 0;
        margin: 0;
    }

    // Display sheets in tables
    .sheets-list {
        .item-infos {
            td {
                padding: 3px;
            }

            &.even {
                background-color: lighten(lightblue, 15%);
            }

        }
    }

    // Hide element non usable on print
    .woody-component-movie,
    .woody-component-focus,
    .woody-component-testimonials,
    .woody-component-geomap,
    .woody-component-links {
        display: none;
    }

    .accordion {
        .accordion-title:before {
            display: none;
        }

        .accordion-content {
            display: block;
        }
    }
}

.rdbkPrintHeader {
    position: absolute;
    top: 0;
    left: 0;
}
