// Override page margins
@page {
    margin: 5mm 5mm 5mm 5mm;
}

// Hide cookies and admin menu WP
.cc-revoke,
.cc-window,
#wpadminbar {
    display: none !important;
}

// Print content styles
.print-rdbk {
    font-size: 90%;

    .print-fixed {
        position: fixed;
        width: 200mm;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 10000;
    }

    .print-header {
        top: 0;
    }

    .print-footer {
        bottom: 0;
    }

    // Page header
    .page-header {
        text-transform: uppercase;
        border-bottom: 1px solid #a0a0a0;
        padding: 30px 0;
        margin-bottom: 30px;
        page-break-after: avoid;

        h2 {
            max-width: 110mm;
        }
    }

    .page-section {
        width: 198mm !important;
        margin-left: auto;
        margin-right: auto;


        &:not(:nth-of-type(1)) {
            page-break-before: always;
        }
    }

    .section {
        padding: 0;
        margin: 0;
    }

    // Display sheets in tables
    .sheets-list {
        .item-infos {
            td {
                padding: 3px;
            }

            &.even {
                background-color: lighten(lightblue, 15%);
            }

        }
    }

    // Hide element non usable on print
    .woody-component-movie,
    .woody-component-focus,
    .woody-component-testimonials,
    .woody-component-geomap,
    .woody-component-links {
        display: none;
    }

    .accordion {
        .accordion-title:before {
            display: none;
        }

        .accordion-content {
            display: block;
        }
    }
}
