# Global
.DS_Store
._.*
._*
.vscode/*
# Composer
bin
vendor/*
!vendor/.gitkeep

# Theme Foundation
node_modules
npm-debug.log
config.yml
*.sass-cache*
*.log
.idea/
*.swp

# Custom
acf-json/group_5a95690688bc0.json
woody-icons
