{% extends "base.twig" %}

{% block content %}
    <style>
        .my-gallery {
            width: 100%;
            float: left;
        }
        .my-gallery img {
            width: 100%;
            height: auto;
        }
        .my-gallery figure {
            display: block;
            float: left;
            margin: 0 5px 5px 0;
            width: 150px;
        }
        .my-gallery figcaption {
            display: none;
        }
    </style>

    <h2>First gallery:</h2>

    <div class="my-gallery" itemscope="itemscope" itemtype="http://schema.org/ImageGallery">

        <figure itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
            <a href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg" itemprop="contentUrl" data-size="1024x1024">
                <img src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
            <figcaption itemprop="caption description">Image caption 1</figcaption>

        </figure>

        <figure itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
            <a href="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg" itemprop="contentUrl" data-size="964x1024">
                <img src="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_m.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
            <figcaption itemprop="caption description">Image caption 2</figcaption>
        </figure>

        <figure itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
            <a href="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_b.jpg" itemprop="contentUrl" data-size="1024x683">
                <img src="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_m.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
            <figcaption itemprop="caption description">Image caption 3</figcaption>
        </figure>

        <figure itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
            <a href="https://farm6.staticflickr.com/5023/5578283926_822e5e5791_b.jpg" itemprop="contentUrl" data-size="1024x768">
                <img src="https://farm6.staticflickr.com/5023/5578283926_822e5e5791_m.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
            <figcaption itemprop="caption description">Image caption 4</figcaption>
        </figure>

    </div>

    <h2>Second gallery:</h2>

    <div class="my-gallery" itemscope="itemscope" itemtype="http://schema.org/ImageGallery">

        <figure itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
            <a href="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg" itemprop="contentUrl" data-size="964x1024">
                <img src="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_m.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
            <figcaption itemprop="caption description">Image caption 2.1</figcaption>
        </figure>

        <figure itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
            <a href="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_b.jpg" itemprop="contentUrl" data-size="1024x683">
                <img src="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_m.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
            <figcaption itemprop="caption description">Image caption 2.2</figcaption>
        </figure>

        <figure itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
            <a href="https://farm6.staticflickr.com/5023/5578283926_822e5e5791_b.jpg" itemprop="contentUrl" data-size="1024x768">
                <img src="https://farm6.staticflickr.com/5023/5578283926_822e5e5791_m.jpg" itemprop="thumbnail" alt="Image description"/>
            </a>
            <figcaption itemprop="caption description">Image caption 2.3</figcaption>
        </figure>

    </div>

    <main class="content-type-page">
        <div class="content-wrapper">
            {% if page_heading | default %}
                {{ page_heading }}
            {% endif %}

            {% for key, section in the_sections %}
                <div class="page-section page-section-{{ key }}">
                    {{ section }}
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
