{% extends "base.twig" %}

{% block content %}
    {# Admin Edit #}
    <a target="_self" href="{{ post.edit_link() }}">Modifier la page actuelle</a>

    <main class="section page">
        <div class="wrapper">


            <div class="content grid-container">
                
            </div>
        </div>
        <!-- wrapper -->
    </main>
{% endblock %}
