{% extends "base.twig" %}

{% block content %}
    <main class="section page">
        <div class="wrapper">
            {% if post.display_media == 'none' %}
                {% include '/parts/hero-sections/header-basic.twig' %}
            {% elseif post.display_media == 'img' or post.display_media == 'mov' %}
                {% if post.template == 'fullwidth' %}
                    {% include '/parts/hero-sections/header-media-fullwidth.twig' %}
                {% elseif post.template == 'media_left' %}
                    {% include '/parts/hero-sections/header-media-left.twig' %}
                {% elseif post.template == 'media_right' %}
                    {% include '/parts/hero-sections/header-media-right.twig' %}
                {% endif %}
            {% endif %}

            <div class="content"></div>
            {% for key, element in post.get_field('content_element') %}
                {% if element.img_size %}
                    {# if element have an image size option, we set variables to populate srcset attribute #}
                    {% set srcset_small = element.img_size ~ '_small' %}
                    {% set srcset_medium = element.img_size ~ '_medium' %}
                    {% set srcset_xlarge = element.img_size ~ '_xlarge' %}
                {% endif %}
                <div class="element_{{ element.acf_fc_layout }} grid-container">
                    {% include['parts/fields/' ~ element.acf_fc_layout ~ '.twig',
                        'parts/fields/empty.twig'] %}
                </div>
            {% endfor %}
        </div>
        <!-- wrapper -->
    </main>
{% endblock %}
