{% extends "base.twig" %}

{% block content %}
    {# Admin Edit #}
    <a target="_self" href="{{ post.edit_link() }}">Modifier la page actuelle</a>

    <main class="content-type-page">
        <div class="content-wrapper">
            {% if page_heading | default %}
                {{ page_heading }}
            {% endif %}
            {% for key, section in the_sections %}
                <div class="page-section page-section-{{ key }}">
                    {{ section }}
                </div>
            {% endfor %}
        </div>
        <!-- wrapper -->
    </main>
{% endblock %}
