<header class="site-header" role="banner">
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="responsive-menu">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu="data-dropdown-menu">
                <li class="menu-text">Site Title</li>
                <li class="has-submenu">
                    <a href="#0">One</a>
                    <ul class="submenu menu vertical" data-submenu="data-submenu">
                        <li>
                            <a href="#0">One</a>
                        </li>
                        <li>
                            <a href="#0">Two</a>
                        </li>
                        <li>
                            <a href="#0">Three</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#0">Two</a>
                </li>
                <li>
                    <a href="#0">Three</a>
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><input type="search" placeholder="Search"></li>
                <li>
                    <button type="button" class="button">Search</button>
                </li>
            </ul>
        </div>
    </div>
</header>
