<header class="site-header" role="banner">
    <div class="site-title-bar title-bar" id="main-menu">
        <div class="title-bar-left">
            <button class="menu-icon" type="button" data-toggle="main-menu"></button>
            <span class="site-mobile-title title-bar-title">
                <a href="{{ site.url }}" rel="home">{{ site.name }}</a>
            </span>
        </div>
    </div>
    <nav class="site-navigation top-bar" role="navigation">
        <div class="top-bar-left">
            <div class="site-desktop-title top-bar-title">
                <a href="{{ site.url }}" rel="home">{{ site.name }}</a>
            </div>
        </div>
    </nav>
    <ul class="dropdown menu" data-dropdown-menu="data-dropdown-menu">
        <li>
            <a href="#">Item 1</a>
            <ul class="menu">
                <li>
                    <a href="#">Item 1A</a>
                </li>
                <li>
                    <a href="#">Item 1A</a>
                </li>
                <li>
                    <a href="#">Item 1A</a>
                </li>
                <li>
                    <a href="#">Item 1A</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Item 2</a>
        </li>
        <li>
            <a href="#">Item 3</a>
        </li>
        <li>
            <a href="#">Item 4</a>
        </li>
    </ul>
</header>
