.focus.image-bg {
    position: relative;

    .section-text {
        @include fullCenteredBox;
        @include xy-gutters($gutter-type:padding, $gutter-position:top left bottom right);

        * {
            color: #fff;
        }
    }

    .section-img {
        background-color: #000;

        img {
            opacity: .4;
            width  : 100%;
        }

        &.section-fullwidth {
            max-width: none;
        }
    }
}
