ul.unstyled {
    list-style-type: none;
    margin-bottom  : 0;
    margin-left    : 0;
}

ul.inline-list {
    display: flex;

    li:not(:nth-last-of-type(1)) {
        @include margin(0, 1, 0, 0);
    }

    &.list-center {
        justify-content: center;
    }
}
