// Admin
@import 'acf';
@import 'changelog';
@import 'loader';
@import 'edit-post';
@import 'edit-media';
@import 'global-admin';
@import 'woody-seo';
@import 'woody-tpls';
@import 'woody-bo';
@import 'polylang';

@import 'legacy';

// Others plugins
@import './plugins/flatpickr';
@import './plugins/tinymce';
@import './plugins/woody-crop'


// Disabled
//@import 'selectize';
