// Admin
@import 'acf';
@import 'login';
@import 'loader';
@import 'edit-post';
@import 'edit-media';
@import 'global-admin';
@import 'woody-seo';
@import 'woody-tpls';

// Others plugins
@import './plugins/flatpickr';
@import './plugins/tinymce';
@import './plugins/woody-crop'


// Disabled
//@import 'selectize';
