//Styles pour le selecteur de templates Woody => override style des radios par défaut
.acf-field-radio[data-name*="woody_tpl"] {
    input[type="radio"] {
        display: none;
    }

    .acf-radio-list {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        display: flex;
        text-align: center;
        margin-right: 0 !important;
        width: 25%;
        justify-content: center;
        align-items: flex-start;

        >label {
            width: 100%;
            margin: 10px;
            opacity: .75;
            transition: .3s;
            background-color: #eee;

            &:hover {
                opacity: .95;
            }

            &.selected {
                border-color: #0073aa #006799 #006799;
                background-color: #0085ba;
                opacity: 1;
            }
        }
    }
}

// On applique du style aux descritpions et titres des templates dans les champs woody_tpl
.tpl-choice-wrapper {
    position: relative;
    padding: 6px;
    border: 1px solid #0073aa; // box-shadow: 0 2px 0 #fff;
    transition: transform .3s;

    >img {
        width: 100%;
        height: auto;
    }

    .tpl-title {
        margin: 10px auto 5px auto;
        max-width: 90%;
        line-height: 1.2em;
    }

    .toggle-desc {
        transition: color .3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    .tpl-desc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: #23282d;
        color: #fff;
        width: 320px;
        max-height: 320px;
        overflow-y: scroll;
        box-shadow: 0 3px 24px rgba(0, 0, 0, .3);
        padding: 20px;
        z-index: 100000;
        line-height: 1.2em;

        .close-desc {
            position: absolute;
            top: 5px;
            right: 5px;
            transition: color .3s;

            &:hover {
                color: #006799;
            }
        }

        .tpl-title {
            margin-bottom: 1.67em;
            margin-top: 0;
        }
    }

    .desc-backdrop {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    &:before {
        font-family: dashicons;
        display: block;
        position: absolute;
        line-height: 1em;
        top: -6px;
        right: -6px;
    }

    &.fit {
        &:before {
            content: '\f147';
            background-color: #0073aa;
            color: #fff;
            border-radius: 50%;
            font-size: 14px;
            padding: 3px 3px 2px 2px;
            z-index: 1;
        }

        &:hover {
            box-shadow: 0 5px 4px rgba(#000, .15);
            transform: translateY(-2px);
        }
    }

    &.notfit {
        border: 1px dotted lighten(#000, 60%);

        &:before {
            content: '\f534';
            color: red;
            font-size: 20px;
            z-index: 1;
        }

        >img {
            opacity: .4;
        }

        .toggle-desc,
        .tpl-title {
            color: lighten(#000, 80%);
        }

    }
}

.selected .tpl-choice-wrapper {

    .tpl-title,
    .toggle-desc {
        color: #fff;
    }

    &.fit {
        &:hover {
            box-shadow: none;
            transform: translateY(0);
        }
    }
}

// On masque les titres de champs inutiles
.acf-field.hide-label,
.acf-field[data-key=field_5b043f0525968],
.acf-field[data-key=field_5afd2c6916ecb] {
    >.acf-label {
        display: none;
    }
}

// On masque les icones des fichiers lorsque ils sont inutiles (ex. fichier vidéo)
.acf-field.nofile-thumb {
    .file-icon {
        display: none;
    }

    .acf-file-uploader .file-info {
        margin-left: 0;
    }
}

// On ajoute des icones dans les tabs de contenu / En-tête / Mise en page
// et on revoit le style des tabs
.acf-fields>.acf-tab-wrap .acf-tab-group {
    border-bottom: none !important;
    padding-bottom: 10px;
    display: flex;

    li {
        margin-right: 0;
        flex-grow: 1;
        transition: .3s;

        a {
            background-color: #23282d !important;
            transition: .3s !important;
            border: none !important;
            font-weight: 500;
            text-align: center;
            color: #fff !important;

            &:hover {
                background-color: darken(#23282d, 10%) !important;
            }

            &:before {
                display: inline-block;
                padding-right: 7px;
                font-family: 'dashicons';
                font-weight: normal;
                font-style: normal;
                font-size: 16px;
                transform: translateY(2px);
            }
        }

        &.active {
            a {
                padding-bottom: 5px !important;
                background-color: #0073aa !important;
                color: #fff !important;

                &:before {
                    color: #fff;
                }
            }
        }
    }
}

// On ajoute une ombre aux layouts ouverts pour les mettre en avant
// Et on change les couleurs de fond des lignes des répéteurs
.acf-repeater {
    .acf-row {

        >.acf-row-handle,
        >.acf-fields {
            background-color: darken(#fff, 3%);
        }

        &:nth-of-type(2n+1) {

            >.acf-row-handle,
            >.acf-fields {
                background-color: darken(#fff, 8%);
            }
        }
    }
}

.acf-flexible-content {
    .layout {
        transition: box-shadow .3s;
    }

    .layout:not(.-collapsed) {
        box-shadow: 0 2px 35px 5px #d5d5d5;
    }
}

// On modifie le style du bouton "Expand/Collapse all"
.acf-field.acf-field-flexible-content,
.acf-field.acf-field-repeater {

    .field-repeater-toggle-all,
    .field-flexible-toggle {
        position: absolute !important;
        top: 5px;
        right: 0;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        padding: 5px 10px !important;
        height: auto !important;
        width: 100%;

        &:hover {
            color: #006799;

            &:before {
                color: #006799;
            }
        }
    }

    .field-repeater-toggle-all,
    .field-flexible-toggle {
        background: rgba(#000, .08) !important;
    }
}

.field-repeater-toggle-all.collapsed-row::before,
.field-flexible-toggle-all.collapsed-row::before {
    content: '\f140' !important;
}

.field-repeater-toggle::before,
.field-flexible-toggle::before {
    content: '\f142' !important;
}

// On affine le style des boutons d'ajout
.acf-button.button.button-primary {
    border-radius: 0 !important;
    border: 12px solid #fff;
    box-shadow: none !important;
    text-shadow: none;
    height: auto !important;

    p {
        font-size: 20px;
        line-height: 25px;
    }

    .dashicons {
        width: 25px;
        height: 25px;
        font-size: 25px;
    }
}

.acf-field-5b0d20457c829>.acf-input>.acf-repeater,
.acf-field-5b043f0525968>.acf-input>.acf-flexible-content,
.acf-field-5afd2c6916ecb>.acf-input>.acf-repeater {
    >.acf-actions {
        .acf-button.button.button-primary {
            width: 100%;
            text-align: center;
            margin-top: 30px;
            padding: 10px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color .3s;

            &:before {
                display: inline-block;
                font-family: 'dashicons';
                font-size: 18px;
                margin-right: 8px;
                content: '\f502'
            }
        }
    }
}

// Ajouter une section
.acf-field-5afd2c6916ecb>.acf-input>.acf-repeater {
    >.acf-actions {
        .acf-button.button.button-primary {
            background-color: #23282d;

            &:hover {
                background-color: darken(#23282d, 10%);
            }
        }
    }
}

// Ajouter un bloc
.acf-field-5b043f0525968>.acf-input>.acf-flexible-content {
    >.acf-actions {
        .acf-button.button.button-primary {
            background-color: #006799;

            &:hover {
                background-color: darken(#006799, 10%);
            }
        }
    }
}

// Ajouter un contenu
.acf-field-5b0d20457c829>.acf-input>.acf-repeater {
    >.acf-actions {
        .acf-button.button.button-primary {
            background-color: #00a0d2;

            &:hover {
                background-color: darken(#00a0d2, 10%);
            }
        }
    }
}

// On marque le titre admin de section pour mieux les séparer
.acf-field-5b59c9bfc6e6a,
.acf-field-5b472edae3000,
.acf-field-5b22415792db0,
.acf-field-5b0d1dc8907e7,
.acf-field-5bc5905487dff,
.acf-field-5bbcac7027b56 {
    input[type=text] {
        font-size: 1.4em !important;
        font-weight: bold;
        background: transparent;
        box-shadow: none;
        border: none;

        &:placeholder-shown {
            font-size: 14px !important;
            font-weight: 300;
            border: 1px solid #ddd;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
            background-color: #fff;
        }
    }
}

// Configurer ma playlist
.acf-field-5b33902f31b18 {
    text-align: center !important;
    display: block !important;

    >.acf-input {
        width: 100%;

        .dashicons {
            margin-right: 8px;
        }
    }
}

// Champs complémentaires pour les images
.acf-field-5b55a89e70cc0,
.acf-field-5b55a88e70cbf,
.acf-field-5b5585503c855 {
    display: flex !important;
    justify-content: space-between;

    .acf-label {
        text-align: right;
        padding-top: 6px;
        margin: 0 10px 0 auto !important;

        label {
            font-weight: normal !important;
            color: #666;
        }
    }

    .acf-input {
        width: 65%;
    }
}

// Accorédons "Options avancées"
.acf-field-5b681e0f93118,
.acf-field-5b681f7dba008,
.acf-field-5b6821997df66,
.acf-field-5b6820abd37c0,
.acf-field-5b681e66b1056,
.acf-field-5b68204875187,
.acf-field-5b68207900a28,
.acf-field-5b6d84d91944f,
.acf-field-5b68200fd0bbe {
    margin: 20px !important;

    >.acf-accordion-title {
        color: #006799;
    }
}

// Selecteur d'icones woody
.wicon-select {
    display: flex;
    align-items: center;

    .wicon-woody-icons {
        margin-right: 10px;
        font-size: 14px;
    }
}

// Nombre d'éléments remontés en sélection automatique
.woody-count-message {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 5px 10px;

    .count {
        position: relative;
        color: #006799;
        margin-left: 8px;
        font-size: 1.3em;
        font-weight: 700;

        &.alert {
            color: #ef644f;
        }
    }

    small {
        font-weight: 500;
    }
}

// Selection auto : types de publication
.acf-field-5b27890c84ed3 {
    .acf-checkbox-list {
        display: flex;
        flex-wrap: wrap;

        li {
            margin-right: 20px;
        }
    }
}

// Fix afficher le titre de la page
.acf-field-5b2bbb4aec6b1 {
    max-height: 85px;
}


// On masque les tabs sur le champ "Playlist" lorsque l'on est sur une page de type "Playlist"
#acf-group_5b33890e6fa0b {
    .acf-tab-wrap {
        display: none;
    }
}
