.acf-true-false:focus-within {
    border: none !important;
}

// Type de publication
.acf-field-5e281d6e084c5,
.acf-field-5a61fa38b704f {
    display: flex;
    align-items: center;

    .acf-label {
        margin-right: 20px !important;
        margin-bottom: 0 !important;
    }

    .acf-input {
        flex-grow: 1;
        max-width: 350px;
    }

    .select2-container--default .select2-selection--single {
        border: none;
        padding: 5px;
        height: auto;
        border-radius: 0;

        .select2-selection__arrow {
            height: 100%;
            top: 0;
            right: 8px;
        }
    }
}

.select2-dropdown {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .1);
    border: none !important;
    border-radius: 0 !important;
    padding: 10px;
}

// Bouton add file / img
.acf-image-uploader,
.acf-file-uploader,
.acf-link {
    .button {
        background-color: lighten(#23282d, 25%);
        color: #fff;
        transition: background-color;

        &:hover {
            background-color: lighten(#23282d, 15%);
            color: #fff;
        }
    }
}

//Styles pour le selecteur de templates Woody => override style des radios par défaut
.acf-field-radio[data-name*="woody_tpl"] {
    input[type="radio"] {
        display: none;
    }

    .acf-radio-list {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        display: flex;
        text-align: center;
        margin-right: 0 !important;
        width: 25%;
        justify-content: center;
        align-items: flex-start;

        >label {
            width: 100%;
            margin: 10px;
            opacity: .75;
            transition: .3s;
            background-color: #eee;

            &:hover {
                opacity: .95;
            }

            &.selected {
                border-color: #0073aa #006799 #006799;
                background-color: #0085ba;
                opacity: 1;
            }
        }
    }
}

// Surcharge de la largeurs des miniatures dans les blocs de sections et les groupes d'onlgets
.acf-field-5b043f0525968 {
    .acf-field-radio[data-name*="woody_tpl"] {
        li {
            @media all and (max-width: 1399px) {
                width: calc(100% / 3);
            }
        }
    }

    .acf-repeater {
        .acf-field-radio[data-name*="woody_tpl"] {
            li {
                width: calc(100% / 3);

                @media all and (max-width: 1399px) {
                    width: 50%;
                }
            }
        }
    }
}

.selected .tpl-choice-wrapper {

    .tpl-title,
    .toggle-desc {
        color: #fff;
    }

    &.fit {
        &:hover {
            box-shadow: none;
            transform: translateY(0);
        }
    }
}

// On masque les titres de champs inutiles
.acf-field.hide-label,
.acf-field[data-key=field_5b043f0525968],
.acf-field[data-key=field_5afd2c6916ecb] {
    >.acf-label {
        display: none;
    }
}

// On masque les icones des fichiers lorsque ils sont inutiles (ex. fichier vidéo)
.acf-field.nofile-thumb {
    .file-icon {
        display: none;
    }

    .acf-file-uploader .file-info {
        margin-left: 0;
    }
}

// On ajoute des icones dans les tabs de contenu / En-tête / Mise en page
// et on revoit le style des tabs
.acf-fields>.acf-tab-wrap {
    .acf-tab-group {
        border-bottom: none !important;
        padding: 0;

        li {
            margin-right: 0;
            flex-grow: 1;
            transition: .3s;

            a {
                transition: all .3s !important;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }

    &.-top {
        .acf-tab-group {
            display: flex;

            li {
                a {
                    padding: 10px !important;
                    background-color: #23282d !important;
                    color: #fff !important;
                    text-align: center;
                    border: none !important;

                    &:hover {
                        background-color: darken(#23282d, 10%) !important;
                    }
                }

                &.active {
                    a {
                        background-color: #0073aa !important;
                        color: #fff !important;
                    }
                }
            }
        }
    }

    &.-left {
        .acf-tab-group {
            li {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 700;
                    color: lighten(#23282d, 20%);
                    padding: 15px;

                    &:after {
                        display: block;
                        content: '\f344';
                        font-family: 'dashicons';
                        margin-left: 10px;
                        line-height: 1em;
                        transform: scaleX(0);
                    }
                }

                &.active {
                    a {
                        background-color: #0073aa !important;
                        color: white !important;

                        &:after {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
}

.acf-accordion-title {
    text-transform: uppercase;
    transition: color .3s;

    &:hover {
        color: #00a0d2;
    }
}

// On ajoute une ombre aux layouts ouverts pour les mettre en avant
// Et on change les couleurs de fond des lignes des répéteurs
.acf-repeater {
    .acf-row {

        >.acf-row-handle,
        >.acf-fields {
            background-color: darken(#fff, 3%);
        }

        &:nth-of-type(2n+1) {

            >.acf-row-handle,
            >.acf-fields {
                background-color: darken(#fff, 8%);
            }
        }
    }
}

.acf-flexible-content {
    .layout {
        transition: box-shadow .3s;
        border: none !important;
    }

    .layout:not(.-collapsed) {
        box-shadow: 0 2px 35px 5px #d5d5d5;
    }
}

// On retire les paddings des repeater
@media all and (max-width:1399px) {

    // On réduit certaines marge pour donner la place aux champs
    .acf-fields>.acf-field {
        &.acf-field-repeater {
            padding: 0;
        }

        &.acf-field-flexible-content {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .acf-table>tbody>tr>td {
        padding: 2px;
    }
}

// On modifie le style du bouton "Expand/Collapse all"
.acf-field.acf-field-flexible-content,
.acf-field.acf-field-repeater {

    .field-repeater-toggle-all,
    .field-flexible-toggle {
        position: absolute !important;
        top: 5px;
        right: 0;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        padding: 5px 10px !important;
        height: auto !important;
        width: 100%;

        &:hover {
            color: #006799;

            &:before {
                color: #006799;
            }
        }
    }

    .field-repeater-toggle-all,
    .field-flexible-toggle {
        background: rgba(#000, .08) !important;
    }
}

.field-repeater-toggle-all.collapsed-row::before,
.field-flexible-toggle-all.collapsed-row::before {
    content: '\f140' !important;
}

.field-repeater-toggle::before,
.field-flexible-toggle::before {
    content: '\f142' !important;
}

// On affine le style des boutons d'ajout
.acf-button.button.button-primary {
    border-radius: 0 !important;
    border: 12px solid #fff;
    box-shadow: none !important;
    text-shadow: none;
    height: auto !important;

    p {
        font-size: 20px;
        line-height: 25px;
    }

    .dashicons {
        width: 25px;
        height: 25px;
        font-size: 25px;
    }
}

.acf-field-5b0d20457c829>.acf-input>.acf-repeater,
.acf-field-5b043f0525968>.acf-input>.acf-flexible-content,
.acf-field-5afd2c6916ecb>.acf-input>.acf-repeater,
.acf-field-66978cb6e54a5>.acf-input>.acf-repeater,
.acf-field-66978e1108e68>.acf-input>.acf-repeater {
    >.acf-actions {
        .acf-button.button.button-primary {
            width: 100%;
            text-align: center;
            margin-top: 30px;
            padding: 10px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color .3s;

            &:before {
                display: inline-block;
                font-family: 'dashicons';
                font-size: 18px;
                margin-right: 8px;
                content: '\f502'
            }
        }
    }
}

// Ajouter une section
.acf-field-5afd2c6916ecb>.acf-input>.acf-repeater {
    >.acf-actions {
        .acf-button.button.button-primary {
            background-color: #23282d;

            &:hover {
                background-color: darken(#23282d, 10%);
            }
        }
    }
}

// Ajouter un bloc
.acf-field-5b043f0525968>.acf-input>.acf-flexible-content {
    >.acf-actions {
        .acf-button.button.button-primary {
            background-color: #006799;

            &:hover {
                background-color: darken(#006799, 10%);
            }
        }
    }
}

// Ajouter un contenu
.acf-field-5b0d20457c829>.acf-input>.acf-repeater,
.acf-field-66978cb6e54a5>.acf-input>.acf-repeater,
.acf-field-66978e1108e68>.acf-input>.acf-repeater {
    >.acf-actions {
        .acf-button.button.button-primary {
            background-color: #00a0d2;

            &:hover {
                background-color: darken(#00a0d2, 10%);
            }
        }
    }
}

// On marque le titre admin de section pour mieux les séparer
.acf-field-5b59c9bfc6e6a,
.acf-field-5b472edae3000,
.acf-field-5b22415792db0,
.acf-field-639058ada9224,
.acf-field-5b0d1dc8907e7,
.acf-field-5bc5905487dff,
.acf-field-5bbcac7027b56,
.acf-field-5bd81b41a3040,
.acf-field-5bc6e6b0bd875,
.acf-field-5beb046c93939,
.acf-field-5dad73a7f4ccb,
.acf-field-5e4a5597e2017,
.acf-field-64428055a6907,
.acf-field-6296243e85128,
.acf-field-669769ca7b3d1 {
    input[type=text] {
        font-size: 1.4em !important;
        font-weight: bold;
        background: transparent;
        box-shadow: none;
        border: none;

        &:placeholder-shown {
            font-size: 14px !important;
            font-weight: 300;
            border: 1px solid #ddd;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
            background-color: #fff;
        }
    }
}

// Configurer ma playlist
.acf-field-5b33902f31b18:not(.acf-hidden) {
    text-align: center !important;
    display: block !important;

    >.acf-input {
        width: 100%;

        .dashicons {
            margin-right: 8px;
        }
    }
}

// Champs complémentaires pour les images
.acf-field-5b55a89e70cc0,
.acf-field-5b55a88e70cbf,
.acf-field-5b5585503c855 {
    display: flex !important;
    justify-content: space-between;

    .acf-label {
        text-align: right;
        padding-top: 6px;
        margin: 0 10px 0 auto !important;

        label {
            font-weight: normal !important;
            color: #666;
        }
    }

    .acf-input {
        width: 65%;
    }
}

// Selecteur d'icones woody
.wicon-select {
    display: flex;
    align-items: center;

    .wicon-woody-icons {
        margin-right: 10px;
        font-size: 14px;
    }
}

// Nombre d'éléments remontés en sélection automatique
.woody-count-message {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 5px 10px;
    background-color: white;

    .count {
        position: relative;
        color: #006799;
        margin-left: 8px;
        font-size: 1.3em;
        font-weight: 700;
    }

    .alert {
        color: #ef644f;
    }

    small {
        font-weight: 500;
    }
}

// Selection auto : types de publication
.acf-field-5b27a02e9d7c5 {
    .acf-checkbox-list {
        border-radius: 3px;
        max-height: 120px;
        overflow: scroll;
        border: 1px solid #DFDFDF;
        padding: 10px;
    }
}

// Fix afficher le titre de la page
.acf-field-5b2bbb4aec6b1 {
    max-height: 85px;
}


// On masque les tabs et le choix d'affichage sur le champ "Playlist" lorsque l'on est sur une page de type "Playlist"
#acf-group_5b33890e6fa0b {

    // Numéroter les résultats
    .acf-field-6227767c89d33,
    .acf-field-5d11c991b82fe,
    .acf-field-5ce2aea593cd7,
    .acf-field-5c821f9df381d,
    .acf-field-5bfeaaf039785,
    .acf-tab-wrap {
        display: none;
    }
}

// Boutons préfilter la playlist (liens rapides) + paramètres TM
.acf-field-5c7f99013d21d,
.acf-field-5c7e764fb183b,
.acf-field-5bd023a8daa52,
.acf-field-5c989085888ee {
    .acf-input {
        background: #0073aa;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;

        &:before {
            margin-right: 10px;
            display: inline-block;
            font-size: 20px;
            line-height: 1;
            font-family: dashicons;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
        }
    }
}

.acf-field-5c7f99013d21d,
.acf-field-5c7e764fb183b,
.acf-field-5bd023a8daa52 {
    .acf-input:before {
        content: '\f108';
    }
}

.acf-field-5c989085888ee {
    .acf-input:before {
        content: '\f230';
    }
}

// Bouton remttre à playlist à zéro + Annuler le préochage
.acf-field-5c80db858c927,
.acf-field-5bd075349943c {
    .acf-input {
        padding: 0 10px;
        background-color: darken(#fff, 3%);
        color: lighten(#000, 30%);
        margin-bottom: 15px;
        cursor: pointer;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


// Type de publication & type de feuillet
#acf-group_5e281d61626b0,
#acf-group_5a61fa1e0e50c {
    .postbox-header {
        display: none;
    }
}

.acf-tooltip>ul>li {

    >a[data-layout="manual_focus_minisheet"],
    >a[data-layout="story"],
    >a[data-layout="files"],
    >a[data-layout="slides_group"],
    >a[data-layout="feature"] {
        display: none;
    }
}

.acf-field.collapsing-rows {
    padding-top: 48px !important;

    .woodyRowsCollapse {
        position: absolute;
        right: 12px;
        top: 12px;
        background-color: rgba(#000, .03);
        border-radius: 50px;
        color: #373c42;
        border: none;
        padding: 0 0 0 15px;
        display: inline-flex;
        align-items: center;
        font-size: 10px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color .3s;

        .dashicons {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            color: #23282d;
            margin-left: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s;

            &:before {
                transform: translateX(-1px);
            }
        }

        &:hover,
        &focus {
            outline: none;
            background-color: rgba(#000, .07);

            .dashicons {
                background-color: #0073aa;
                color: #fff;
            }
        }
    }
}

// Masquage des champs de précochage de playlist dans une section => Mise en avant de fiches auto
.acf-field-5afd2c6916ecb {

    .acf-field-5c7e5bd174a2f,
    .acf-field-5c7faaa8c8c7a,
    .acf-field-5c7e59967f790 {
        display: none !important;
        pointer-events: none !important;
    }
}

.acf-field-5bb3297e77f43 {
    display: none !important;
}

// Cache les icônes des thématiques du Hero dans le back-office
.acf-field-5ce3b93aa6252 {
    .acf-checkbox-list {
        input[type="checkbox"] {
            ~span[class^="wicon-"] {
                display: none;
            }
        }
    }
}

// Champ "Page liée" dans le détail des images
.acf-field-5c0553157e6d0 {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .acf-label {
        margin-right: 10px;
        margin-bottom: 0;
        line-height: 1em;
    }
}

.acf-link {
    .media-frame a.button {
        color: #fff;
    }
}

// Bouton choisir une mise en page
.woody-tpl-button .acf-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    padding-left: 40px;
    background: #23282d;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: background .3s;

    &:before {
        font-family: dashicons;
        display: block;
        content: '\f538';
        font-size: 24px;
        margin-right: 10px;
        font-weight: normal;
        position: absolute;
        left: 0;
        top: 0;
        height: calc(100% - 10px);
        background: lighten(#23282d, 10%);
        padding: 5px 10px;
    }

    &:hover {
        background: darken(#23282d, 10%);
    }
}

.acf-fc-popup {
    position: fixed;
    top: 32px !important;
    left: 168px !important;
    width: calc(100vw - 500px);
    height: calc(100vh - 82px) !important;
    overflow: scroll;
    padding: 40px 10px 10px !important;
    background-color: white;
    max-width: none;

    &:before {
        display: none;
    }

    &:after {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Dashicons';
        content: '\f335';
        position: absolute;
        right: 5px;
        top: 5px;
        border: solid 1px #23282d;
        color: #23282d;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 18px;
    }

    ul {
        display: flex !important;
        flex-wrap: wrap;

        li {
            width: calc(100% / 6);

            a {
                height: 110px;
                color: #23282d;
                background-color: #f0f0f1;
                border-radius: 3px;
                margin: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 13px;
                white-space: break-spaces;
                text-align: center;
                transition: transform .3s, background-color .3s, box-shadow .3s;

                &:hover {
                    background-color: white;
                    color: #23282d;
                    transform: scale(.95);
                    box-shadow: 0 2px 12px rgba(0, 0, 0, .2);

                    &:before {
                        color: #007cba;
                    }
                }

                &:before {
                    display: block;
                    font-family: 'Dashicons';
                    font-size: 30px;
                    margin-bottom: 20px;
                    color: #007cba;
                }

                &[data-layout='free_text'] {
                    &:before {
                        content: '\f206';
                    }
                }

                &[data-layout='testimonials'] {
                    &:before {
                        content: '\f125';
                    }
                }

                &[data-layout='interactive_gallery'],
                &[data-layout='gallery'],
                &[data-layout='eye_candy_img'] {
                    &:before {
                        content: '\f233';
                    }
                }

                &[data-layout='movie'] {
                    &:before {
                        content: '\f236';
                    }
                }

                &[data-layout='audio_player'] {
                    &:before {
                        content: '\f127';
                    }
                }

                &[data-layout='content_list'],
                &[data-layout='auto_focus_sheets'],
                &[data-layout='semantic_view'],
                &[data-layout='auto_focus'],
                &[data-layout='manual_focus'],
                &[data-layout='catalog_focus'] {
                    &:before {
                        content: '\f13c';
                    }
                }

                &[data-layout='sheet_summary'] {
                    &:before {
                        content: '\f12b';
                    }
                }

                &[data-layout='story'],
                &[data-layout='quote'] {
                    &:before {
                        content: '\f205';
                    }
                }

                &[data-layout='accordion'] {
                    &:before {
                        content: '\f164';
                    }
                }

                &[data-layout='feature'],
                &[data-layout='feature_v2'] {
                    &:before {
                        content: '\f197';
                    }
                }

                &[data-layout='links'] {
                    &:before {
                        content: '\f103';
                    }
                }

                &[data-layout='link_social_shares'] {
                    &:before {
                        content: '\f237';
                    }
                }

                &[data-layout='call_to_action'] {
                    &:before {
                        content: '\f534';
                    }
                }

                &[data-layout='tabs_group'] {
                    &:before {
                        content: '\f15b';
                    }
                }

                &[data-layout='socialwall'] {
                    &:before {
                        content: '\f12d';
                    }
                }

                &[data-layout='geo_map'] {
                    &:before {
                        content: '\f230';
                    }
                }

                &[data-layout='page_summary'] {
                    &:before {
                        content: '\f203';
                    }
                }

                &[data-layout='profile_focus'] {
                    &:before {
                        content: '\f12e';
                    }
                }

                &[data-layout='quotation'] {
                    &:before {
                        content: '\f18e';
                    }
                }

                &[data-layout='socialize'] {
                    &:before {
                        content: '\f301';
                    }
                }

                &[data-layout='snowflake'],
                &[data-layout='infolive'] {
                    &:before {
                        content: '\f239';
                    }
                }

                &[data-layout='snowflake_weather'] {
                    &:before {
                        content: '\f176';
                    }
                }

                &[data-layout="snowflake_resort_messages"],
                &[data-layout='snowflake_weather_bulletin'] {
                    &:before {
                        content: '\f121';
                    }
                }

                &[data-layout="snowflake_road_infos"],
                &[data-layout="snowflake_road_conditions"] {
                    &:before {
                        content: "\f14c";
                    }
                }

                &[data-layout='spacer_block'] {
                    &:before {
                        content: '\f169';
                    }
                }

                &[data-layout='event_block'],
                &[data-layout='booking_block'] {
                    &:before {
                        content: '\f508';
                    }
                }

                &[data-layout='search_block'] {
                    &:before {
                        content: '\f179';
                    }
                }

                &[data-layout='timeline'] {
                    &:before {
                        content: '\f11c';
                    }
                }

                &[data-layout='menus'] {
                    &:before {
                        content: '\f333';
                    }
                }
            }
        }
    }
}

.acf-field {
    &.show-for-admin {
        display: none;
    }
}

.acf-field .select-disabled {
    select {
        pointer-events: none;
        opacity: .4;
    }
}

// Retour à la ligne des options de couleur de fond dans Options avancées => Couleur de fond
// Retour à la ligne des options de marge intérieure dans Options avancées => Marge intérieure
.acf-field-5b043ca4a6fe3,
.acf-field-61dc59647cc82 {
    .acf-button-group {
        flex-wrap: wrap;

        label {
            flex: 0 1;
            margin: 0 0 4px -1px;
        }
    }
}

.alone-tab {
    display: none !important;
}


// Style de l'interface de gestion d'ordre des blocs en responsive
[data-name="section_mobile_order"] {
    .acf-input {
        display: none;
    }
}

.block-responsive-order {
    .block-list {
        >li {
            display: flex;
            justify-content: center;
            flex-direction: row;

            .responsive-layout-block {
                width: 50%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 30px;

                .responsive-layout-index {
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    background-color: darken(#F9F9F9, 5%);
                    border-radius: 50%;
                }
            }

            .responsive-layout-input {
                width: 60px;
            }
        }
    }
}

// Index de bloc à l'intérieur du répéteur d'une section
.acf-flexible-content .layout .acf-fc-layout-handle.has-responsive-block-indicator {
    .acf-fc-layout-order {
        margin-right: 52px !important;
    }
}

// Indicateur responsive (à côté de l'index d'un bloc)
.responsive-block-indicator {
    position: absolute;
    top: 9px;
    left: 30px;

    span {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        margin: 0 0 0 5px;
        background: #F1F1F1;
        font-size: 12px;
        color: #444;
        cursor: default;

        position: relative;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: center center;
            opacity: 0.3;
        }


        &.desktop {
            &::before {
                background-image: url('../img/desktop.png');
            }
        }

        &.mobile {
            &::before {
                background-image: url('../img/mobile.png');
            }
        }

        &.active {
            &::before {
                opacity: 1;
            }
        }
    }
}

// Section models list
.acf-field-6061dcdfc96ee {
    overflow: scroll;
}

// Bloc de réservation dans les pages d'accueil
#acf-group_5c0e4121ee3ed {
    display: none !important;
}
