#pageparentdiv {

    p:nth-of-type(2),
    p:nth-of-type(3),
    input[name='menu_order'] {
        display: none;
    }
}

input.notAllowed,
select.notAllowed,
textarea.notAllowed {
    pointer-events: none;
    opacity: .4;
}

#minor-publishing-actions {
    #save-action input {
        margin-bottom: 20px;
    }

    .preview.button {
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 0 12px 2px;
        margin-bottom: 20px;
        background: #0085ba;
        color: #fff;
        text-decoration: none;
        transition: background-color .3s;

        &:hover {
            background: darken(#0085ba, 7%);
        }
    }
}

#major-publishing-actions {
    .button {
        border: 1px solid #cccccc;
        background: #f7f7f7;
        color: #555;
        text-decoration: none;
        text-shadow: none;
        transition: background-color .3s;

        &:hover {
            background: darken(#f7f7f7, 7%);
        }
    }
}

#acf-group_615ca08f1a261,
#publishing-action,
#minor-publishing-actions .preview.button {
    &.sticky {
        position: fixed;
        right: 20px;
        width: 270px;
        z-index: 999;
        margin: 0;
        box-sizing: border-box;

    }
}

#publishing-action,
#minor-publishing-actions .preview.button {
    &.sticky {
        border: 20px solid #fff;
    }
}

#acf-group_615ca08f1a261 {
    &.sticky {
        bottom: -90px;
        animation: editModeSlideIn .4s ease-out forwards;
    }
}

#minor-publishing-actions .preview.button.sticky {
    height: auto;
    bottom: -90px;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, .1);
    animation: previewSlideIn .4s ease-out forwards;

}

#publishing-action.sticky {
    bottom: -150px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, .15);
    animation: submitSlideIn .4s ease-out forwards;


    .spinner {
        position: absolute;
        bottom: 10px;
        z-index: 99;
        background-color: #FFF;
        border-radius: 50%;
        opacity: 1;
    }

    .pv_wrap {
        width: 100%;
    }

    #publish {
        width: 100%;
        border-radius: 0;
        border: 0;
        height: 40px;
    }

    #pv_publish {
        width: 15%;
        border-radius: 0;
        border: 0;
        border-left: 1px solid #ccc;
        height: 40px;
    }
}

#pv_publish {
    height: 100% !important;
}

#post,
.media-modal-content {

    // On désactive le changement de langue des nl'édition des médias dans la galerie
    .media_lang_choice {
        opacity: .5;
        pointer-events: none;
    }

}

.post-type-page #wpbody-content {
    .page-title-action {
        display: none;
    }
}

.postbox {
    box-shadow: none;
    border: none;

    [class^="handle-order"] {
        display: none;
    }

    &-header {
        .hndle {
            flex-grow: inherit;
        }
    }
}

#side-sortables {
    .postbox {
        .ui-sortable-handle {
            color: lighten(#23282d, 25%);
            transition: color .3s;

            &:hover {
                color: #0085ba;
            }
        }
    }
}

// Taxonomies
#page_typediv,
#themesdiv,
#placesdiv,
#seasonsdiv {
    .ui-sortable-handle {
        display: flex;
        color: lighten(#23282d, 25%);

        &:before {
            display: block;
            font-family: 'dashicons';
            margin-right: 8px;
            content: '\f323';

        }
    }
}

// Primary term toggle styles
.categorydiv {
    .categorychecklist {
        li {
            position: relative;
        }
    }

    .primary-toggle {
        cursor: pointer;
        color: #0085ba;
        position: absolute;
        top: 0;
        right: 0;

        &.hide {
            display: none;
        }

        &.unset-primary-term {
            color: #555;
        }
    }

    .is-primary-term {
        font-weight: bold;
    }
}

// Hide primary terms metabox cause we populate fields automatically
#acf-group_5d7bad8e78214 {
    display: none !important;
}


#apply-model-link {
    margin-left: 15px;

    .dashicons {
        line-height: unset;
    }
}

.apply-model-list {
    z-index: 10000;
    min-width: 800px;
    background: white;
    position: fixed;
    left: 50%;
    top: 40%;
    margin-left: -400px;
    padding: 20px;
    border: 1px solid darken(white, 20%);

    form ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        margin: 10px 0;

        a {
            text-decoration: none;
        }
    }

    .actions {
        display: flex;

        #apply-model-popup-button {
            margin-left: auto;
        }

        #abort-apply-model {
            margin-left: 10px;
            border: 1px solid #cccccc;
        }
    }
}

// Unpublish metabox
#woody-unpublisher {
    .input-wrapper {
        position: relative;
        margin-bottom: 10px;
    }

    .flatpickr-input {
        background: transparent;
        box-shadow: none;
        padding: 10px 0;
        width: 100%;
        color: #006799;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 16px;

        &::-webkit-input-placeholder {
            color: #006799;
        }

        &:-moz-placeholder {
            color: #006799;
        }

        &::-moz-placeholder {
            color: #006799;
        }

        &:-ms-input-placeholder {
            color: #006799;
        }
    }

    .unpublisher-reset-date {
        width: 18px;
        height: 18px;
        background-color: #f1f1f1;
        font-weight: bold;
        border-radius: 50%;
        position: absolute;
        right: 5px;
        top: calc(50% - 9px);
        transition: all .3s;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: #006799;
            color: #fff;
        }
    }
}

.droppable-area {
    height: 36px;
    visibility: visible;
    background: rgba(17, 255, 108, 0.479);
}


@keyframes submitSlideIn {
    0% {
        bottom: -150px;
    }

    100% {
        bottom: 40px;
    }
}

@keyframes previewSlideIn {
    0% {
        bottom: -90px;
    }

    100% {
        bottom: 100px;
    }
}

@keyframes editModeSlideIn {
    0% {
        bottom: -90px;
    }

    100% {
        bottom: 190px;
    }
}

.move-block-container {
    position: relative;
    display: block;
    float: left;
    margin: 0 0 0 5px;
    height: 20px;
    visibility: hidden;
}

.layout:hover {
    .move-block-container {
        visibility: visible;
    }
}

.move-block-tooltip {
    position: absolute;
    top: 100%;
    left: 0;
    max-width: 150px;
    width: 150px;
    z-index: 999;
    display: none;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #f1f1f1;
}

.move-block-tooltip.open {
    display: block;
}

@keyframes noticeSlideIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

#wpcontent {
    position: relative;
}

.custom-notice {
    background-color: #0085ba;
    color: #fff;
    padding: 0 0 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>.notice-dismiss {
        position: relative;
        right: auto;
        left: auto;
        top: auto;
        bottom: auto;

        &::before {
            color: #fff;
        }
    }

    &.notice-error {
        background-color: #ff0000;
    }
}

.is-fixed {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 32px;
    left: 0;
    z-index: 90000;
    animation: noticeSlideIn 300ms 1 forwards;
}

.post-type-page {
    .meta-box-sortables {
        display: flex;
        flex-direction: column;

        #acf-group_615ca08f1a261 {
            order: -1;
        }
    }
}
