.wp-core-ui .button {
    border-radius: 0;
    box-shadow: none;
    border: none;
    text-shadow: none;
    height: auto;
    padding: 5px 10px;

    &.button-large {
        height: auto;
        padding: 5px 10px;
    }

    &.edit-slug {
        margin-left: 5px;
        background: #fff;

        &:hover {
            color: #0085ba
        }
    }
}


#pageparentdiv {

    p:nth-of-type(2),
    p:nth-of-type(3),
    input[name='menu_order'] {
        display: none;
    }
}

input.notAllowed,
select.notAllowed,
textarea.notAllowed {
    pointer-events: none;
    opacity: .4;
}

#minor-publishing-actions {
    #save-action input {
        margin-bottom: 20px;
    }

    .preview.button {
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 0 12px 2px;
        margin-bottom: 20px;
        background: #0085ba;
        color: #fff;
        text-decoration: none;
        transition: background-color .3s;

        &:hover {
            background: darken(#0085ba, 7%);
        }
    }
}

#major-publishing-actions {
    .button {
        border: 1px solid #cccccc;
        background: #f7f7f7;
        color: #555;
        text-decoration: none;
        text-shadow: none;
        transition: background-color .3s;

        &:hover {
            background: darken(#f7f7f7, 7%);
        }
    }
}

#publishing-action,
#minor-publishing-actions .preview.button {
    &.sticky {
        position: fixed;
        border: 20px solid #fff;
        right: 20px;
        width: 270px;
        z-index: 999;
        margin: 0;
        box-sizing: border-box;
    }
}

#minor-publishing-actions .preview.button.sticky {
    height: auto;
    bottom: -90px;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, .1);
    animation: previewSlideIn .4s ease-out forwards;

}

#publishing-action.sticky {
    bottom: -150px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, .15);
    animation: submitSlideIn .4s ease-out forwards;


    .spinner {
        position: absolute;
        bottom: 10px;
        z-index: 99;
        background-color: #FFF;
        border-radius: 50%;
        opacity: 1;
    }

    .pv_wrap {
        width: 100%;
    }

    #publish {
        width: 100%;
        border-radius: 0;
        border: 0;
        height: 40px;
    }

    #pv_publish {
        width: 15%;
        border-radius: 0;
        border: 0;
        border-left: 1px solid #ccc;
        height: 40px;
    }
}

#pv_publish {
    height: 100% !important;
}

#select-post-language {
    .button-lock {
        padding: 2px 7px;

        .dashicons {
            line-height: 26px;
        }
    }
}

#post,
.media-modal-content {

    // On désactive le changement de langue des nl'édition des médias dans la galerie
    .media_lang_choice {
        opacity: .5;
        pointer-events: none;
    }

}

.post-type-page #wpbody-content {
    .page-title-action {
        display: none;
    }
}

.postbox {
    box-shadow: none;
    border: none;
}

#side-sortables {
    .postbox {
        .ui-sortable-handle {
            color: lighten(#23282d, 25%);
            transition: color .3s;

            &:hover {
                color: #0085ba;
            }
        }
    }
}

// Taxonomies
#page_typediv,
#themesdiv,
#placesdiv,
#seasonsdiv {
    .ui-sortable-handle {
        display: flex;
        color: lighten(#23282d, 25%);

        &:before {
            display: block;
            font-family: 'dashicons';
            margin-right: 8px;
            content: '\f323';

        }
    }
}

#apply-model-link {
    margin-left: 15px;
    .dashicons{
        line-height: unset;
    }
}

.apply-model-list{
    z-index: 10000;
    min-width: 800px;
    background: white;
    position: fixed;
    left: 50%;
    top: 40%;
    margin-left: -400px;
    padding: 20px;
    border: 1px solid darken(white, 20% );
    form ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        margin: 10px 0;
        a {
            text-decoration: none;
        }
    }

    .actions{
        display: flex;
        #apply-model-popup-button{
            margin-left: auto;
        }

        #abort-apply-model{
            margin-left: 10px;
            border: 1px solid #cccccc;
        }
    }
}

.droppable-area {
    height: 36px;
    visibility: visible;
    background: rgba(17, 255, 108, 0.479);
}

@keyframes submitSlideIn {
    0% {
        bottom: -150px;
    }

    100% {
        bottom: 40px;
    }
}

@keyframes previewSlideIn {
    0% {
        bottom: -90px;
    }

    100% {
        bottom: 100px;
    }
}
