body.themes-php .themes.single-theme .theme-actions {
    display: none;
}

.add-medias-tag {
    z-index: 1000;
    padding: 20px;
    background: white;
    position: fixed;
    width: 50%;
    margin-left: 15%;
    margin-top: 15%;
}
