.wp-admin {
    &:after {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(#fff, 0.9);
        background-image: url('../img/loader_woody.png');
        background-repeat: no-repeat;
        background-size: 100px 110px;
        background-position: center center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        z-index: 10000;
        content: '';
        transition: .2s ease-out;
    }

    &.windowReady {
        &:after {
            opacity: 0;
            pointer-events: none;
            transform-origin: center top;
        }
    }

    &.windowError {
        &:after {
            background-image: url('../img/loader_woody_error.png');
        }
    }
}
