body.login {
    h1 a {
        background-image: url('../img/wp-admin/loader_woody.png');
        background-size: 100px;
        height: 110px;
        width: 100px;
    }

    // Woody SSO automaticly redirect to ?locale=fr
    // TODO: remove this lines if we want to allow user to connect to another locale
    #language-switcher{
        display: none;
    }
}
