.media-frame.mode-eml-grid .attachments-browser .attachments {
    overflow: scroll;
    position: absolute;
    left: 0;
    height: calc(100% - 130px);
}

.media-frame.mode-select .attachments-browser .attachments {
    overflow: scroll;
    position: absolute;
    left: 0;
    height: calc(100% - 250px);
    width: 100%;
}

.media-frame.mode-select {
    .media-sidebar {
        display: none;
    }
}

.attachments-wrapper .load-more-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    justify-content: flex-start;

    .load-more-count {
        text-align: left;
    }
}
