#wpbody-content {

    .nestedpages {
        .child-toggle {
            a {
                background-color: transparent !important;
                border: none !important;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                margin-top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color .3s;
                border-radius: 0;
                .np-icon-arrow {
                    display: none;
                }
                &:after {
                    display: block;
                    font-family: dashicons;
                    content: '\f474';
                    transform: rotate3d(0, 1, 0, 180deg);
                    color: #aeaeae;
                    transition: color .3s;
                }
                &:hover {
                    background-color: #0073aa !important;
                    &:after {
                        color: #fff;
                    }
                }
                &.open {
                    background-color: #dadada !important;
                    &:after {
                        content: '\f335';
                        color: rgba(0, 0, 0, .4);
                    }
                }
            }
        }
    }

    #npmenuitems {
        ul {
            li:not(:nth-of-type(1)) {
                display: none !important;
            }
        }
    }
}
