// Groupe Woody SEO
#acf-group_5d7f7cd5615c0 {

    // ********************* //
    // Tokens styles
    // ********************* //

    .tokenize {
        >.acf-input {
            display: none;
        }
    }

    .tokens-div,
    .token-val,
    .tokens-list,
    .tokens-list .token {
        border-radius: 4px;
    }

    .tokens-div {
        display: flex;
        padding: 4px 8px;
        margin: 0;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 1.4;
        box-shadow: 0 0 0 transparent;
        border: 1px solid #7e8993;
        background-color: #fff;
        color: #32373c;
    }

    .token-val {
        font-size: 11px;
        padding: 3px 20px 3px 5px;
        background-color: #0073aa;
        color: #fff;
        display: inline-flex;
        align-items: center;
        margin: 0 3px;
        position: relative;
        overflow: hidden;

        small {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            background-color: rgba(#000, .3);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px;
            cursor: pointer;
        }
    }

    .editable {
        min-width: 100px;
        line-height: 1.6em;
        border: 1px solid #eee;
        display: inline-block;
        padding: 2px 6px;

        &:focus {
            outline: none;
        }
    }

    .tokens-list {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        .token {
            cursor: pointer;
            padding: 5px;
            margin: 5px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            line-height: 1em;
            transition: color .3s, background-color .3s;

            &:hover {
                background-color: #0073aa;
                color: #fff;
            }
        }
    }

    .tokens-toggle {
        margin-top: 10px;
    }


}
