
#tpls_popin {
    background-color: white;

    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li{
            max-width: 30%;
        }
    }
}

#tpls_popin.opened {
    z-index: 100;
    position: absolute;
    top: 50px;
}
