#tpls_popin {
    position: fixed;
    background-color: white;
    box-sizing: border-box;
    width: calc(100vw - 160px);
    height: 100vh;
    right: 0;
    top: 0;
    padding: 50px;
    z-index: 1000;
    overflow: scroll;
    box-shadow: 0 0 40px rgba(black, .15);
    transform: translateX(100%);
    transition: transform .5s ease-out;

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 25%;
            padding: 15px;
            box-sizing: border-box;
        }

        div.hidden {
            width: 0;
            height: 0;
            padding: 0;
        }
    }

    // On applique du style aux descritpions et titres des templates dans les champs woody_tpl
    .tpl-choice-wrapper {
        transition: transform .3s;
        cursor: pointer;

        >img {
            width: 100%;
            height: auto;
            transition: transform .3s;
        }

        .tpl-title {
            padding: 10px;
            margin: 0;
            text-align: center;
            font-size: 15px;
            color: lighten(black, 30%);
            line-height: 1.2em;
        }

        &.selected,
        &:hover {
            >img {
                transform: scale(.95);
            }


        }

        &:hover {
            .tpl-title {
                color: #0073aa;
            }
        }

        &.selected {
            background-color: #0073aa;

            .tpl-title {
                color: white;
            }
        }
    }

    .filtered {
        display: none;
    }
}

.tpls_popin_filters {
    display: flex;
    align-items: flex-end;

    .tpl-filter {
        &:not(:nth-last-of-type(1)) {
            margin-right: 20px;
        }

        select {
            font-size: 12px;
        }

        label {
            font-size: 11px;
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }


    }
}

.tpls_popin_actions {
    position: sticky;
    top: -18px;
    padding: 15px 50px;
    background: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .15);
    z-index: 10000;
    display: flex;
    align-items: center;
    margin: 0 -50px;

    >span {
        padding: 10px 20px 10px 10px;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        cursor: pointer;

        &:before {
            display: block;
            font-family: 'Dashicons';
            margin-right: 5px;
            font-size: 20px;
        }

        &.close {
            background-color: darken(white, 5%);
            margin-left: auto;
            margin-right: 15px;
            color: black;

            &:before {
                content: "\f335";
            }

            &:hover {
                background-color: darken(white, 7%);
            }
        }

        &.save {
            background-color: #0073aa;
            color: white;

            &:before {
                content: "\f147";
            }

            &:hover {
                background-color: darken(#0073aa, 7%);
            }
        }
    }
}

#tpls_popin.opened {
    transform: translateX(0);
}

.acf-field {
    &[data-name$='woody_tpl'] {
        width: 50%;
        float: right;

        .acf-input input {
            cursor: not-allowed;
            pointer-events: none;
            opacity: .4;
            height: 46px;
        }
    }

    &.woody-tpl-button {
        width: 50%;
        float: left;
        clear: none;
        border-top: none !important;
    }
}
