#hawwwai-playlist-editor {
    position: fixed;
    top: 30px;
    left: 30px;
    width: calc(100vw - 60px);
    height: calc(100vh - 60px);
    transition: top .3s ease-in-out, box-shadow .6s .1s ease-in;
    background-color: #fff;
    z-index: 100000;

    iframe {
        width: 100%;
        height: 100%;
    }

    .close-playlist-editor {
        opacity: 0;
        transform: scale(0);
        position: absolute;
        top: -15px;
        right: -15px;
        font-size: 18px;
        line-height: 18px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0085ba;
        color: #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: backgorund-color .3s, opacity .3s, transform .3s;

        &:hover {
            background-color: darken(#0085ba, 7%);
        }
    }

    &.closed {
        top: 100vh;
        opacity: 0;
        transform: scale(0);
    }

    &.opened {
        top: 30px;
        box-shadow: 0 0 40px 40px rgba(#000, .7);

        .close-playlist-editor {
            opacity: 1;
            transform: scale(1);
        }
    }
}

// TODO: uncomment when dev on popup is over
// .acf-field-5b338f0d31b16,
// .acf-field-5b338ff331b17,
// .acf-field-5b86a911d8685 {
//     display: none;
// }
