#icl_div {

    // Masque les choix de duplication des médias
    .inside>strong,
    .inside>label,
    .inside>br {
        display: none;
    }

    // Masque le selecteur de priorité de traduction
    #icl_translation_priority_dropdown {
        display: none;
    }

    // Masque le bouton copier depuis ...
    // Inutile avec nos champs ACF
    #icl_cfo,
    .icl_pop_info_wrap {
        display: none;
    }

    // Masque l'entrée "toutes les langues" dans le selecteur dans la barre d'admin
    #wp-admin-bar-WPML_ALS_all {
        display: none;
    }
}
