.header-media-fullwidth {
    position: relative;

    .hero-section-text {
        @include fullCenteredBox;
        background-color: rgba(0,0,0,.3);

        * {
            color: #fff;
        }
    }

    .thematic-tags {
        position : absolute;
        bottom   : 1rem;
        z-index  : 1;
        left     : 50%;
        transform: translateX(-50%);
    }
}

.hero-section-slogan {
    @include padding(2,2,2,2);
    font-size       : 1.2rem;
    border          : none;
    background-color: darken(#fff,5%);

    p {
        max-width   : 1280px;
        margin-left : auto;
        margin-right: auto;
    }
}
