<div class="empty-section admin-only">
    <div class="empty-message isAbs">
        <span class="wicon wicon-062-crayon"></span>
        <p>Contenu de section vide</p>
        <p><small>Seuls les administrateurs du site peuvent voir cette section<small></p>
        </small>Dans le cas d'une mise en avant automatique, il est possible qu'aucun contenu ne corresponde à vos paramètres (pour le moment...).
        </br>Sinon, vous devriez modifier votre page.</small>
    </div>
    {% include 'section/section_full/tpl_01/tpl.twig' %}
</div>
