<header class="site-header bg-black" role="banner" data-sticky-container="data-sticky-container">
    <div class="main-menu-wrapper" data-sticky="data-sticky" data-options="marginTop:0;" style="width:100%" data-top-anchor="1">
        <div class="top-bar title-bar" id="main-menu">
            <ul class="menu vertical medium-horizontal align-right">
                {% for menu_link in main_menu_links %}
                    <li>
                        <a href="{{ menu_link.url }}">{{ menu_link.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle="main-menu"></button>
        </div>
    </div>
</header>
