{% if element.title | default %}
    <h2 class="text-center">{{ element.title }}</h2>
{% endif %}
{% if element.slogan | default %}
    <h5>{{ element.slogan }}</h5>
{% endif %}
{% for item in element.content_selection %}{% endfor %}
