{% if element.title | default %}
    <h2 class="text-center">{{ element.title }}</h2>
{% endif %}
{% if element.repeater | default %}
    <ul class="inline-list unstyled list-center">
        {% for field in element.repeater %}
            {% if field.file | default %}
                <li>
                    <a class="button" href="{{ field.file.url }}">
                        {% if field.label | default %}{{ field.label }}
                        {% else %}{{ field.file.filename }}{% endif %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
