{% if element.title | default %}
    <h2 class="text-center">{{ element.title }}</h2>
{% endif %}
{% if element.slogan | default %}
    {{ element.slogan }}
{% endif %}
{% if element.display_fullwidth %}
    <div class="section-fullwidth">
    {% endif %}
    {% if element.movie | default %}
        <div class="responsive-embed widescreen">
            {{ element.movie }}
        </div>
    {% endif %}
    {% if element.display_fullwidth %}
    </div>
{% endif %}
