$woody-loader-size: 1rem;
$woody-loader-color-primary: #f3f3f3;
$woody-loader-color-secondary: #a3a3a3;

.woody-loader {
    border: calc(var(--woody-loader-size, #{$woody-loader-size}) / 8) solid var(--woody-loader-primary, $woody-loader-color-primary);
    border-top: calc(var(--woody-loader-size, #{$woody-loader-size}) / 8) solid var(--woody-loader-secondary, $woody-loader-color-secondary);
    border-radius: 50%;
    width: var(--woody-loader-size, $woody-loader-size);
    height: var(--woody-loader-size, $woody-loader-size);
    animation: woody-loader-spin 2s linear infinite;
}

@keyframes woody-loader-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
