.apirender {
    // only sheet content
    .api-render-wrapper.api-render-sheet {


        /**
         **  Fixes
         **/

        .blablacar-widget,
        .nav-button a:before {
            height: auto;
        }

        ul {
            margin-left: 0;
        }

        label {
            font-size: 1em;
        }

    }
}

