.apirender.apirender-wordpress.apirender-playlist {

    a[target="_blank"]:after {
        content: none;
    }

    .main-tourism-wrapper {
        label {
            font-size: 1em;
        }
        .wrap-date input {
            font-size: 1em;
            margin: 0;
        }
    }
}
