body.woody_staging {

    // &:after {
    //     display: block;
    //     content: '';
    //     position: fixed;
    //     top: 0;
    //     right: 0;
    //     width: 100vw;
    //     height: 100vh;
    //     pointer-events: none;
    //     border: 3px solid yellow;
    //     z-index: 10000;
    //     animation: frameDisapear .6s 8s forwards;
    // }

    .staging-banner {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px 20px;
        display: block;
        background: red;
        color: #fff;
        border: 2px solid #fff;
        z-index: 10000;
        animation: labelDisapear .3s 2s forwards;
    }

    .staging-label {
        font-size: 11px;
        line-height: 1em;
        text-transform: uppercase;
    }

    &.admin-bar:after {
        top: 40px;
        height: calc(100vh - 40px);
    }
}

// @keyframes frameDisapear {
//     0% {
//         transform: scale(1);
//         opacity: 1;
//     }

//     100% {
//         transform: scale(1.1);
//         opacity: 0;
//     }
// }

@keyframes labelDisapear {
    0% {
        transform: translateX(0) translateY(0) rotate(0);
    }

    100% {
        transform: translateX(112px) translateY(58px) rotate(45deg);
    }
}
