.acf-field-radio[data-name="woody_tpl"] .acf-radio-list {
    display: flex;
    flex-wrap: wrap;
}

.acf-field-radio[data-name="woody_tpl"] li {
    display: flex;
    text-align: center;
    margin-right: 0 !important;
}

.acf-field-radio[data-name="woody_tpl"] li>label {
    padding: 6px;
    margin: 10px;
    opacity: .75;
    border-radius: 3px;
    transition: .3s;
    border: 1px dotted #c3c3c3;
    box-shadow: 0 2px 0 #fff;
}

.acf-field-radio[data-name="woody_tpl"] li>label:hover {
    opacity: .95;
    background-color: #eee;
}

.acf-field-radio[data-name="woody_tpl"] li>label.selected {
    border-color: #0073aa #006799 #006799;
    background-color: #0085ba;
    opacity: 1;
    box-shadow: 0 2px 0 #006799;
}

.acf-field-radio[data-name="woody_tpl"] li>label>div small {
    font-weight: bold;
}

.acf-field-radio[data-name="woody_tpl"] li>label.selected>div small {
    color: #fff;
}

.acf-field-radio[data-name="woody_tpl"] input[type="radio"] {
    display: none;
}
